.App {
  text-align: center;
  color: white;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
}

.App button{
  margin: 30px;
  padding: 10px;
  font-size: 20px;
  background-color: #224;
  border: none;
  color: #FFF;
}
.App button:hover{
  background-color: #222;
}

video, canvas {
  background: rgba(255,255,255,0.5);
  border: 1px solid #ccc;
  margin: 20px 10px 20px 10px;
  width: 407px;
  height: 305px;
}

#showing{
  width: 100%;
}